/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config/
/config.log
/config.status
/configure
/extensions/CoverflowAltTab@dmo60.de/Makefile
/extensions/CoverflowAltTab@dmo60.de/Makefile.in
/extensions/CoverflowAltTab@dmo60.de/schemas/org.gnome.shell.extensions.coverflowalttab.gschema.valid
/extensions/Makefile
/extensions/Makefile.in
/extensions/glassygnome@emiapwil/Makefile
/extensions/glassygnome@emiapwil/Makefile.in
/extensions/glassygnome@emiapwil/schemas/org.gnome.shell.extensions.glassy-gnome.gschema.valid
/extensions/gradientbottombar@julienpecqueur.net/Makefile
/extensions/gradientbottombar@julienpecqueur.net/Makefile.in
/extensions/time_tracker_jsnjack@gmail.com/Makefile
/extensions/time_tracker_jsnjack@gmail.com/Makefile.in
/extensions/time_tracker_jsnjack@gmail.com/schemas/org.gnome.shell.extensions.time-tracker.gschema.valid
/extensions/todolist@bsaleil.org/Makefile
/extensions/todolist@bsaleil.org/Makefile.in
/extensions/todolist@bsaleil.org/schemas/org.gnome.shell.extensions.todolist.gschema.valid
/m4/
