Source: coding-shell-extensions
Priority: standard
Maintainer: Lili Cosic <lili@kinvolk.io>
Build-Depends: debhelper (>= 9),
	       dh-autoreconf,
	       autotools-dev,
	       gnome-common,
	       libglib2.0-dev
Standards-Version: 3.9.5
Section: non-free/libs
Homepage: http://www.endlessm.com
Vcs-Browser: https://github.com/endlessm/coding-shell-extensions

Package: coding-shell-extensions
Section: non-free/libs
Architecture: any
Depends: ${misc:Depends}
Description: Shell extensions for Coding game
