Source: coding-shell-extensions
Section: unknown
Priority: optional
Maintainer: Lili Cosic <lili@kinvolk.io>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/coding-shell-extensions.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/coding-shell-extensions.git;a=summary

Package: coding-shell-extensions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
